@page "/"
@inherits StateComponent

@if (POState.Orders.Any())
{
    <div class="card-columns">
        @foreach (var o in Orders)
        {
            <Order OrderDef="@o"></Order>
        }
    </div>
}
else
{
    <div class="row justify-content-center">
        <em>Log in to fetch open orders!</em>
    </div>
}

@code {
    IEnumerable<OrderDef> Orders => POState
        .Orders
        .Where(o => AppState.ShowPending ? o.Status != null : o.Status == null)
        .Where(o => o.Contains(AppState.Search));

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}